<!DOCTYPE html>
<html>


<head>
    <link rel="stylesheet" href="/app.css" />
</head>


<body>
    <h1>Greetings Page</h1>

    <p>        <%= data.greeting %>
        <%= data.name %>
            <%= data.surname %>.</p>

            <img src="/images/some-type-of-ejs-syntax-with-filename" alt="">
</body>
</html>

